{% extends 'base.html' %}

{% block head %}
<title>Breddit</title>
{% endblock %}

{% block content %}

    {% for post in posts.items %}

    <div class="row" style="margin-top: 0px; margin-bottom: 40px;">
        <div class="col-md-12">
            <div class="card">
                <div class="row">
                <div class="col-md-1 align-self-center" style="padding-right: 0px; text-align: center; padding-left:30px; font-size: 18px;">
                    <strong>
                        

                        <script type="text/javascript">                            
                        $(document).on('click', '#vote_up', function(event) {
                            $.ajax({
                                url : '/upvote',
                                type : "post",
                                contentType: 'application/json;charset=UTF-8',
                                dataType: "json",
                                data : JSON.stringify({'id' : $('#vote_up').data('id')}),
                                success : function(response) {
                                    setTimeout(function () {// wait for 5 secs(2)
                                        location.reload(); // then reload the page.(3)
                                    },); 
                                    console.log(response);	
                                }
                            });
            
                        });
                        </script>
                        <script type="text/javascript">

                        $(document).on('click', '#vote_down', function (event) {
                                $.ajax({
                                    url: '/downvote',
                                    type: "post",
                                    contentType: 'application/json;charset=UTF-8',
                                    dataType: "json",
                                    data: JSON.stringify({ 'id': $('#vote_down').data('id') }),
                                    success: function (response) {
                                    setTimeout(function () {// wait for 5 secs(2)
                                            location.reload(); // then reload the page.(3)
                                        },); 
                                        console.log(response);
                                    }
                                });
                                
                            });
                        </script>

                        <button type="button" class="btn btn-sm" id="vote_up" data-id="{{ post.id }}" data-toggle="button" aria-pressed="false">
                            <i class="fas fa-chevron-up"></i>
                        </button>
                        <div id="scorediv" style="margin-bottom: 0;">{{ post.score }}</div>
                        <button type="button" class="btn btn-sm" id="vote_down" data-id="{{ post.id }}" data-toggle="button"
                            aria-pressed="false">
                            <i class="fas fa-chevron-down"></i>
                        </button>
                    </strong>
                </div>
                <div class="col-md-3 align-self-center">                  
                    <img class="bg-warning" width="150px" src="/static/post_pics/{{ post.post_img }}" alt="IMAGEEEE">
                </div>
                <div class="col-md-8" style="padding-left: 1px;">
                <div class="card-header">
                    b/Main •<span class="text-muted" style="font-size: 10pt;"> Posted by <a href="{{ url_for('user_posts', username=post.author.username) }}">u/{{
                        post.author.username }}</a> on {{ post.date_posted.strftime('%Y-%m-%d') }}</span>
                </div>
                <div class="card-body">
                    <a class="card-title" href="{{ url_for('post', post_id=post.id) }}"><h3>{{ post.title }}</h3></a>
                    <p class="card-text">
                        {{ post.content }}
                    </p>
                    <a href="{{ url_for('post', post_id=post.id) }}" class="btn btn-light btn-sm"><i class="fas fa-comment"></i> 0
                        comments</a>
                    <a href="" class="btn btn-light btn-sm"><i class="fas fa-share"></i> Share</a>
                </div>
                </div>
                </div>
            </div>
        </div>
        
    </div>

    {% endfor %}

    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if posts.page == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('index', page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('index', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
            {% else %}
            ...
            {% endif %}
    {% endfor %}
{% endblock %}


