$colors: (background: #3e4345,
          foreground: #4e5355,
          primary: #505557,
          text: #ffffff,
          button: #367bf5);

@function color($color-name) {
  @return map-get($colors, $color-name)
}



body {
  background-color: color(background) !important;
  color: #ffffff !important;
  margin-top: 100px !important;
  font-family: 'Poppins', sans-serif;
}

.navbar{
  background-color:color(foreground) !important;

  .navbar-brand{
    color: color(text);
    font-size: 40px;
  }

  .btn{
    background-color: #505557;
    font-size: 22px;
    box-shadow:  5px 5px 10px #414547,
             -5px -5px 10px #5b6163;
    border-radius: 10px;
    color: color(text);
  }

  .btn:hover{
      
      background: linear-gradient(145deg, #464b4d, #53595b);
    }
}

#sidebar{

  .content-section{
  background-color: color(foreground);
  border-radius: 10px;
  box-shadow: 0px 4px 50px rgba(0,0,0,0.1);

  img{
    border-radius: 10px 10px 0px 0px;
  }

  .actual-content{
    padding: 20px;
  }

  h3{
    text-align: center;
  }

  .submit-post-btn{
    margin: auto;
    background-color: color(button);
    text-align: center;
    width: 100%;
    box-shadow: 5px 5px 40px rgba(0,0,0,0.2);
    border-radius: 9px;
    font-size: 23px;
    color: color(text);
    border: none;
    padding: 6px 0px 6px 0px;
    cursor: pointer;
  }

  .submit-post-btn:hover{
    background-color: color(primary);
    animation-duration: 0.2s;
  }
  
  }
}

.card{
  background-color: color(foreground) !important;
  border-radius: 10px;
  box-shadow: 0px 4px 50px rgba(0,0,0,0.1);

  .card-header{
    border-bottom: none;
    background-color: rgba(0,0,0,0);
  }

  .card-body{
    padding-top: 5px;
  }

  .btn-sm{
    background-color: color(primary);
    color: color(text);
  }

  .btn-sm:hover{
    background-color: #3e4345;
  }


  #vote_up{
    font-size: 22px;
    border-radius: 10px;
  }

  #vote_down{
    font-size: 22px;
    border-radius: 10px;
  }

  #vote_up:hover{
    color: #a9d051;
  }

  #vote_down:hover{
    color: #f2994a;
  }

  img{
    width: 100%;
  }
}

#account_card{
  background-color: color(primary);
}

.page-footer{
  background-color: color(primary);
  margin-top: 20px;
}

.btn-info{
  background-color: color(button);
  font-size: 20px;
}